.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

canvas {
    border: 1px solid black; /* Canvasの境界線を追加する場合 */
}

.controller {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.controller button {
    margin: 5px 10px;
}

.parameter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
